$font-family: 'Roboto', 'Helvetica', sans-serif;

$main: #fefcfc;

$gray-500: #333;

$pink-100: #f7edec;
$pink-200: #f3c9c2ad;
$pink-300: #f7b7ac;
$pink-400: #f58b8b;
$pink-500: #f78181;
$pink-600: #e8887c;
